matplotlib
pillow
pandas
numpy
scikit-learn
scipy
uvicorn
fastapi
colorama
mlflow
tensorflow
python-multipart
spacy
contextualSpellCheck
pyspellchecker
prefect
textblob
nltk
textstat
torch
transformers

spacy
contextualSpellCheck
pyspellchecker
textstat
tf-keras
xgboost
lightgbm
sentence_transformers
