matplotlib
pillow
pandas
numpy
scikit-learn
scipy
uvicorn
fastapi
colorama
mlflow
tensorflow
python-multipart
textblob
nltk
# TextBlob
# spacy
# contextualSpellCheck
# pyspellchecker
textstat

torch
transformers

spacy
contextualSpellCheck
pyspellchecker
textstat
tf-keras
xgboost
lightgbm
sentence_transformers
