# streamlit==1.22.0 #Temp hack to sync the compatibility for detect_ai_content
# detect_ai_content
# streamlit
# #base64
# #PIL
# pillow
# numpy
# # os
# pathlib
# # io
# requests
# streamlit-nightly
streamlit==1.39.0
# base64
pillow==10.4.0
numpy
os
pathlib
io
requests
